.product__container{
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    border: 1px solid #2C3E50;
    border-radius: 32px;
    box-shadow: 0 0 12px 0px #5555;
    margin-top: 16px;
    height: 250px;
    min-width: 200px;
    position: relative;
}

.product__img-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.product__img-container img{
    mix-blend-mode: multiply;
    width: clamp(70px, 2.5dvw, 100px);
}

.product__info-container{
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-height: 200px;
    overflow: auto;
}

.product__add-container button{
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    background-color: #F39C12;
    color: #fff;
}

.warning{
    position: absolute;
    margin: auto;
    background-color: #2C3E50;
    padding: 6px;
    border-radius: 6px;
    bottom: 0;
    text-align: center;
    animation: viewWarning .5s both;
    color: #fff;
    box-shadow: 0 0 12px 1px #777a;
    z-index: 100;
}

@keyframes viewWarning{
    from{
        bottom: 0;
    }

    to{
        bottom: -15%;
    }
}